@import "../../sass/partials/variables";
@import "../../sass/partials/mixin";

header{
  position: fixed;
  width: 100%;
  height: 60px;
  color: $nav-primary-color;
  background: $nav-background-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
}

h1 {
  //@include move();
}

.burger-menu {
  @include icon(before, three-bars);
  width: 2em;
}
